---
import Profile from '../components/Profile.astro';
import { Icon } from 'astro-icon/components'
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tom Green</title>
    <link rel="stylesheet" href="../styles/global.css">
</head>
<body class="bg-white">
<main class="flex min-h-screen flex-col justify-center gap-12 bg-gray-900 p-8">
    <Profile />
    <div class="flex justify-center gap-4">
        <a href="https://www.linkedin.com/in/thomas-green/"  target="_blank" rel="noopener" class="text-white hover:opacity-80"><Icon name="ri:linkedin-box-fill" class="text-3xl" /></a>
        <a href="https://github.com/thomasgreen/" target="_blank" rel="noopener" class="text-white hover:opacity-80"><Icon name="ri:github-fill" class="text-3xl"  /></a>
    </div>
</main>
</body>
</html>