---
import Profile from "../components/Profile.astro";
import AboutMe from "../components/AboutMe.astro";
import { Icon } from "astro-icon/components";
import WorkHistory from "../components/WorkHistory.astro";
import Education from "../components/Education.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tom Green | Senior Software Engineer | PHP | Laravel | Vue</title>
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="bg-gray-900">
    <main class="flex min-h-screen flex-col gap-12 mb-4">
      <Profile />
      <AboutMe />
      <WorkHistory />
      <Education />
      <div class="flex justify-center gap-4">
        <a
          href="https://www.linkedin.com/in/thomas-green/"
          target="_blank"
          rel="noopener"
          class="text-white hover:opacity-80"
          aria-label="Tom Green LinkedIn"
          ><Icon name="ri:linkedin-box-fill" class="text-3xl" /></a
        >
        <a
          href="https://github.com/thomasgreen/"
          target="_blank"
          rel="noopener"
          aria-label="Tom Green GitHub"
          class="text-white hover:opacity-80"
          ><Icon name="ri:github-fill" class="text-3xl" /></a
        >
      </div>
    </main>
  </body>
</html>
