---

---

<section
  class="container prose prose-xl prose-slate prose-invert mx-auto max-w-7xl px-2 md:prose-2xl md:columns-2 md:p-0"
>
  <p class="font-bold">
    Accomplished Senior Software Engineer with over 6 years of robust experience
    in PHP development, with a keen specialisation in Laravel and Vue.js.
    Experienced in developing RESTful APIs, ensuring high performance and
    reliability for complex web applications.
  </p>

  <p>
    Proven track record of leading cross-functional development teams, mentoring
    junior developers, and fostering a collaborative work environment. Driven
    and organised, with a passion for continuous learning and improvement.
    Confident in my ability to deliver high-quality software solutions under
    tight deadlines. Excellent communicator, capable of translating complex
    technical concepts into clear, actionable insights for non-technical
    stakeholders.
  </p>
  <p>
    Strong proponent of Agile methodologies and Test-Driven Development (TDD),
    ensuring iterative development and robust, testable code. A dedicated team
    worker who thrives in collaborative environments, I am committed to
    achieving both personal and organisational goals.
  </p>
</section>
